{% extends 'base.html' %}
    {% block content %}
        {% load static %}


<section class="section-conten padding-y bg mt-5 mb-5">

<div class="container">
	<div class="row">
	{% include 'includes/dashboard_sidebar.html' %}
	<main class="col-md-9">
		<article class="card">
            {% include 'includes/alerts.html' %}
		<header class="card-header">
			<strong class="d-inline-block mr-3">Password</strong>
		</header>
		<div class="card-body">
			<div class="row"> 
			
                <div class="col-md-12 d-flex">
                    <form action="{% url 'change_password' %}" method="POST" enctype="multipart/form-data"> <!--form action besically does that .. it will send the data which is takin by input from to the path which is given in the action  ... in this case we have given the path of changeit_password view name ... so it send the data to the change _passdown fuction ...  -->
                        {% csrf_token %}
                        <div class="row g-4 ">
                            <div class="form-group col-md-12">
                                <label for="">Current Password </label>
                                <input type="password" name="current_password" placeholder="Enter Current Password" class="form-control" required >
                            </div>
                            <div class="form-group col-md-12">
                                <label for="">Create New Password </label>
                                <input type="password" name="new_password" placeholder="Create New Password" class="form-control" required >
                            </div>
                            <div class="form-group col-md-12">
                                <label for="">Conform Password </label>
                                <input type="password" name="confirm_password" placeholder="Confirm New Password" class="form-control" required >
                            </div>
                            <!-- <div class="form-group col-md-3">
                                <label for="">Count</label>
                                {{profile_form.country}}
                            </div> -->
                            <div class="d-flex justify-content-center mt-5">
                              <input type="submit" value="Submit" class="btn btn-primary col-md-4 border">
                            </div>

                        </div>

                    </form>
                </div>
                <!-- alert message put here -->
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->
		
		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>
</section>

<footer class="section-footer border-top py-3">
  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
    <p class="mb-0">
      &copy; Copyright 2019 All rights reserved
    </p>
    <a href="#" class="mt-2 mt-md-0">Terms and conditions</a>
  </div>
</footer>
{% endblock content %} 