{% extends 'base.html' %}
    {% block content %}
        {% load static %}

    <section class="jarallax py-5">
      
      <div class="hero-content py-0 py-md-5">
        <div class="container-lg d-flex flex-column d-md-block align-items-center">
          <nav class="breadcrumb">
            <a class="breadcrumb-item nav-link" href="#">Home</a>
            <a class="breadcrumb-item nav-link" href="#">Pages</a>
            <span class="breadcrumb-item active" aria-current="page">Shop</span>
          </nav>
          {% if 'search' in request.path %} <!-- this query will check the url path, if there's search word in url path then it will display below name -->
          <h1>Search Iteams</h1>
          {% else %}
          <h1>Shop</h1>
          {% endif %}
        </div>
      </div>
    <div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow:hidden; z-index: -100; clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0px 100%);">
        <img src="{% static 'images/banner-1.jpg' %}" class="jarallax-img" style="object-fit: cover; object-position: 50% 50%; max-width: none; position: fixed; top: 0px; left: 0px; width: 1114px; height: 719.219px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: 212.391px; transform: translate3d(0px, -169.891px, 0px);">
    </div>
    </section>
<!-- <i class="fa fa-search" aria-hidden="true"></i> -->
    <div class="py-4">
      <div class="container-lg">
        <div class="row g-5">
          <aside class="col-md-2">
            <div class="sidebar">
              <div class="widget-menu">
                <div class="widget-search-bar">
                  <form role="search" method="get" class="d-flex position-relative">
                    
                      <input class="form-control form-control-lg rounded-2 bg-light" type="email" placeholder="Search here" aria-label="Search here" style="background-image: url() !important; background-repeat: no-repeat; background-size: 20px; background-position: 97% center; cursor: auto;" data-temp-mail-org="0">
                      <button class="btn bg-transparent position-absolute end-0" type="submit"><svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#search"></use></svg></button>
                    </form>
                  
                   <!--! accessories/tommy-watch/ -->
                </div>
              </div>
              <div class="widget-product-categories pt-5">
                <h5 class="widget-title">Categories</h5>
                <ul class="product-categories sidebar-list list-unstyled" >
                    <li class="cat-item">
                        <a href="{% url 'store' %}" style="text-decoration: none;">All Products</a> 
                      </li>

                    {% for i in link %} <!-- used contextprocessor  for slug.url & category name-->
                  <li class="cat-item">
                    <a href="{{i.slug_url}}" style="text-decoration: none;">{{i.category_name}} </a> 
                  </li>
                    {% endfor %}
                  <!-- <li class="cat-item">
                  <div class="col-md-4 d-none d-md-block">
                    <select class="form-select border-0 bg-transparent">
                        <option>Cloths</option>
                        <option>Groceries</option>
                        <option>Drinks</option>
                        <option>Chocolates</option>
                    </select>
                 </div>
                    <a href="#" class="nav-link">Shopping</a>
                  </li> -->
                </ul>

              </div>
              <div class="widget-product-tags pt-3">
                <h5 class="widget-title">Tags</h5>
                <ul class="product-tags sidebar-list list-unstyled">
                  <li class="tags-item">
                    <a href="#" class="nav-link">White</a>
                  </li>
                  <li class="tags-item">
                    <a href="#" class="nav-link">Cheap</a>
                  </li>
                  <li class="tags-item">
                    <a href="#" class="nav-link">Mobile</a>
                  </li>
                  <li class="tags-item">
                    <a href="#" class="nav-link">Modern</a>
                  </li>
                </ul>
              </div>
              <div class="widget-product-brands pt-3">
                <h5 class="widget-title">Brands</h5>
                <ul class="product-tags sidebar-list list-unstyled">
                  <li class="tags-item">
                    <a href="#" class="nav-link">Apple</a>
                  </li>
                  <li class="tags-item">
                    <a href="#" class="nav-link">Samsung</a>
                  </li>
                  <li class="tags-item">
                    <a href="#" class="nav-link">Huwai</a>
                  </li>
                </ul>
              </div>
              <div class="widget-price-filter pt-3">
                <h5 class="widget-titlewidget-title">Filter By Price</h5>
                <ul class="product-tags sidebar-list list-unstyled">
                  <li class="tags-item">
                    <a href="#" class="nav-link">Less than $10</a>
                  </li>
                  <li class="tags-item">
                    <a href="#" class="nav-link">$10- $20</a>
                  </li>
                  <li class="tags-item">
                    <a href="#" class="nav-link">$20- $30</a>
                  </li>
                  <li class="tags-item">
                    <a href="#" class="nav-link">$30- $40</a>
                  </li>
                  <li class="tags-item">
                    <a href="#" class="nav-link">$40- $50</a>
                  </li>
                </ul>
              </div>
            </div>
          </aside>

          <main class="col-md-10">
            <div class="filter-shop d-flex justify-content-between">
              <div class="showing-product">
                <p>Showing <b>{{product_count}}</b> results</p>
              </div>
              <div class="sort-by">
                <select id="input-sort" class="form-control" data-filter-sort="" data-filter-order="">
                  <option value="">Default sorting</option>
                  <option value="">Name (A - Z)</option>
                  <option value="">Name (Z - A)</option>
                  <option value="">Price (Low-High)</option>
                  <option value="">Price (High-Low)</option>
                  <option value="">Rating (Highest)</option>
                  <option value="">Rating (Lowest)</option>
                  <option value="">Model (A - Z)</option>
                  <option value="">Model (Z - A)</option>   
                </select>
              </div>
            </div>
            
            <div class="product-grid row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5">
                {% if products %}
                  {% for i in products %}
              <div class="col">
                <div class="product-item">
                  <figure style="width:100%; height:100%; object-fit:cover; object-position:center; display:block;">
                    <a href="{{i.single_product_url}}" title="Product Title">
                      <img src="{{ i.image.url }}" alt="Product Thumbnail"style="width:100%; height:100%; object-fit:cover; object-position:center; display:block;">
                    </a>
                  </figure>
                  <div class="d-flex flex-column text-center">
                    <!-- <h3 class="fs-6 fw-normal"><a href="{{i.single_product_url}}">{{ i.product_name }}</a></h3> -->
                    <h3 class="fs-6 fw-normal"><a href="{{ i.single_product_url }}" style="text-decoration: none;">{{ i.product_name }}</a></h3>
                    <div>
                      <span class="rating">
                        <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                        <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                        <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                        <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                        <svg width="18" height="18" class="text-warning"><use xlink:href="#star-half"></use></svg>
                      </span>
                      <span>(222)</span>
                    </div>
                    <div class="d-flex justify-content-center align-items-center gap-2">
                      <del>$24.00</del>
                      <span class="text-dark fw-semibold">${{ i.price }}</span>
                      <span class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10% OFF</span>
                    </div>
                    <div class="button-area p-3 pt-0">
                      <div class="row g-1 mt-2">
                        <div class="col-3"><input type="number" name="quantity" class="form-control border-dark-subtle input-number quantity" value="1"></div>
                        <div class="col-7"><a href="{% url 'add_cart' i.id %}" class="btn btn-primary rounded-1 p-2 fs-7 btn-cart"><svg width="18" height="18"><use xlink:href="#cart"></use></svg> Add to Cart</a></div>
                        <div class="col-2"><a href="#" class="btn btn-outline-dark rounded-1 p-2 fs-6"><svg width="18" height="18"><use xlink:href="#heart"></use></svg></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              {% else %}
              <div style="text-align: center; width: 50rem;">
                <h1 style="text-align: center;  margin-top: 3.5rem;" >Nothing Found Related To Your Search</h1 >
              </div>
              {% endif %}
            </div> 
            <!-- / product-grid -->



            <!-- pagination -->
            {% if products.has_other_pages %} <!--if for previous & next-->
            <nav class="text-center py-4" aria-label="Page navigation">
              <ul class="pagination d-flex justify-content-center">
                {% if products.has_previous %} <!--if for previous -->
                <li class="page-item">
                  <a class="page-link bg-none border-0" href="?page={{products.previous_page_number}}" aria-label="Previous"> <!--href for previous-->
                    <span aria-hidden="true">«</span>
                  </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link bg-none border-0" href="#page-link" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                  </a>
                </li>
                {% endif %} <!--endif for previous -->


                {% for i in products.paginator.page_range %} <!-- for loop for page count validate -->
                  {% if products.number == i %}
                <li class="page-item active" aria-current="page"><a class="page-link border-0" href="#">{{i}}</a></li>
                  {% else %}
                <li class="page-item" aria-current="page"><a class="page-link border-0" href="?page={{i}}">{{i}}</a></li> <!-- here href use for go to that page -->
                  {% endif %}
                {% endfor %} <!--end for -->

                {% if products.has_next %}
                <li class="page-item">
                  <a class="page-link border-0" href="?page={{products.next_page_number}}" aria-label="Next">
                    <span aria-hidden="true">»</span>
                  </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link border-0" href="#" aria-label="Next">
                    <span aria-hidden="true">»</span>
                  </a>
                </li>
                {% endif %}

              </ul>
            </nav>
            {% endif %} <!--end if for previous & next-->

          </main>
          
        </div>
      </div>
    </div>
</body>

        {% endblock content %} 
